.p-inputtext {
  @apply appearance-none 
  rounded-md
        border 
        border-secondary 
        enabled:hover:border-secondary
        enabled:focus:border-secondary
        text-secondary 
        text-base
        bg-Primary_Variation 
        disabled:bg-surface-200 disabled:text-surface-500 dark:disabled:bg-surface-700 dark:disabled:text-surface-400 disabled:opacity-100
        placeholder:text-Dark_Text/50 dark:placeholder:text-surface-400
        px-3 py-2 h-10
        transition-all duration-300 
        shadow-md outline-none;
}

.p-inputtext.p-invalid {
  @apply border-red-400 dark:border-red-300;
}

.p-inputtext.p-variant-filled {
  @apply bg-surface-50 dark:bg-surface-800;
}

.p-inputtext-sm {
  @apply text-sm px-[0.625rem] py-[0.375rem];
}

.p-inputtext-lg {
  @apply text-lg px-[0.875rem] py-[0.625rem];
}

.p-inputtext-fluid {
  @apply w-full;
}
